header{
	background: #FFBF00;
	color: white;
	padding: 15px 15px 0 15px
}

body{
	background: #50514F;
	margin:0;
	padding:0;
	font-family: arial;
}
header h1{
	color: #50514F;	
	margin:0;
	padding:0;
	display: inline;
}

header h5{
	color: #50514F;	
	margin:0;
	padding:0;
	display: inline;
}

nav ul{
	margin:0;
	display: inline;
	padding: 0 0 0 15px;
}

nav ul li{
	background: #457EAC;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 8px 15px 5px 15px;
	margin:0;
	border-radius: 5px 5px 0 0;
}

nav ul li a{
	color: white;
}


.selected{
	background: #272727;
}

ul li{
	padding: 5px 0 5px 0;
}


.center{
	color: #00E2F2;
	padding: 0px 0;
	text-align: center;
}

.row{
	
}

.col{
	background: #CACFD6;
	border-radius: 5px;
	float: left;
	width: 70%;
	margin: 5px 15% 5px 15%;
}

img {
	display: block;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

p{
	padding: 0 10px;
}

footer{
	color: white;
	clear:both;
	position: fixed; 
	bottom: 0px;
	
}